body {

    background-color: lightskyblue;

}

.heading{

    background-color: orange;
    text-align: center;
    color: white;
    width: 280px;
    height: 75px;


}

h1{
    position: fixed;
    top: 5px;
}

.info {

    background-color: peachpuff;
    color: green;
    width: 300px;
    height: 300px;

}

.computer{

    background-color: lightgreen;
    width: 250px;
    height: 115px;
    position: fixed;
    bottom: 125px;
}

.total{

    background-color: aqua;
    width: 100px;
    height: 115px;
    position: fixed;
    left: 275px;
    bottom: 125px;

}

.line{

    background-color: darkgreen;
    text-align: center;
    color: white;
    width: 200px;
    height: 50px;
    position: fixed;
    bottom: 40px;
}

.score{

    background-color:darkgreen;
    width: 100px;
    height: 75px;
    position: fixed;
    left: 275px;
    bottom: 40px;

}

.crystalImage{

    height: 150px;

}

#one{

    position: fixed;
    top: 100px;
    right: 500px;
    
}

#two{

    position: fixed;
    top: 100px;
    right: 300px;
    
}

#three{

    position: fixed;
    top: 300px;
    right: 515px;
    
}

#four{

    position: fixed;
    top: 300px;
    right: 300px;
    
}